header {
    height: 350px;
    width: 100vw;    
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

h2.background-content {
    color: white;    
    font-weight: 700;
    text-align: center;    
    font-size: 6vmin;
    font-family: 'Gaegu', cursive;    
    margin: 0px auto 0;
    width: 70%;
    height: 80px;    
    padding-top: 100px;   
    font-size-adjust: auto; 
}

div.container.header {
    padding-top: 95px;    
}

.alink {
    height: 40px;
    width: 40px;    
}

.fixed-bottom {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 50px; 
}

nav.navbar {
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.subtitle {
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    margin: 3rem auto 3rem;
    text-align: center;    
}

.subtitle>hr {
    border: 0;
    width: 70px;
    height: 2px;
    background: orange;
    padding-top: 1px;    
}

.col-12, .col-sm-6, .col-md-4, .col-lg-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 4px;
}

.container.movie {
    position: relative;
    
}

.badge.badge-secondary.over9 {
    background: rgb(75, 221, 185);
}

p.card-text.genres {
    margin-bottom: 0;
}

.btn.btn-primary {
    background: rgb(107, 216, 107);
    border: 0;
}
.container.movie {
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.modal.fade {
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.card-body>h4 {
    font-family: 'Sunflower', sans-serif;
    font-weight: 700; 
}

.subtitle>h2 {
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;     
}